.mask {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: -1;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask.hide {
  opacity: 0;
}